##Question 1

Step 1

In [ ]:
import pandas as pd

Step 2 and 3

In [ ]:
# step 2 and 3
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user" , delimiter='|')

In [ ]:
print(users.head())

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

Step 4

In [ ]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean().reset_index()
mean_age_per_occupation = mean_age_per_occupation.rename(columns={'age': 'mean_age'})
print("Mean age per occupation:")
print(mean_age_per_occupation)

Mean age per occupation:
       occupation   mean_age
0   administrator  38.746835
1          artist  31.392857
2          doctor  43.571429
3        educator  42.010526
4        engineer  36.388060
5   entertainment  29.222222
6       executive  38.718750
7      healthcare  41.562500
8       homemaker  32.571429
9          lawyer  36.750000
10      librarian  40.000000
11      marketing  37.615385
12           none  26.555556
13          other  34.523810
14     programmer  33.121212
15        retired  63.071429
16       salesman  35.666667
17      scientist  35.548387
18        student  22.081633
19     technician  33.148148
20         writer  36.311111

Step 5

In [ ]:
users_male = users[users['gender'] == "M"]
# print(users_male)
male_ratio_per_occupation = users_male.groupby("occupation").size() / users.groupby("occupation").size()
# sorting in descending ratio
male_ratio_per_occupation.sort_values(ascending = False, inplace = True)
print("Male ratio per occupation (sorted descending):")
print(male_ratio_per_occupation)

Male ratio per occupation (sorted descending):
occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
dtype: float64

Step 6

In [ ]:
min_user_age_per_occupation = users.groupby("occupation")['age'].agg(min_age = "min" , max_age = "max")
print("For each occupation, the minimum and maximum ages:")
print(min_user_age_per_occupation)

For each occupation, the minimum and maximum ages:
               min_age  max_age
occupation
administrator       21       70
artist              19       48
doctor              28       64
educator            23       63
engineer            22       70
entertainment       15       50
executive           22       69
healthcare          22       62
homemaker           20       50
lawyer              21       53
librarian           23       69
marketing           24       55
none                11       55
other               13       64
programmer          20       63
retired             51       73
salesman            18       66
scientist           23       55
student              7       42
technician          21       55
writer              18       60

Step 7

In [ ]:
mean_age_per_occupation_and_sex = users.groupby(['occupation', 'gender'])['age'].agg(mean_age = 'mean')
print("For each combination of occupation and sex, the mean age:")
print(mean_age_per_occupation_and_sex)

For each combination of occupation and sex, the mean age:
                       mean_age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

Step 8

In [ ]:
percentage_of_occupation_gender_wise = (users.groupby(["occupation" , "gender"]).size() / users.groupby("occupation").size())*100
print("For each occupation the percentage of women and men:")
print(percentage_of_occupation_gender_wise)

For each occupation the percentage of women and men:
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
dtype: float64