##Question 5

Step 1

In [118]:
import pandas as pd
import numpy as np
import ast
from collections import defaultdict

Step 2 and 3

In [119]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
print("Chipo:\n" , chipo.head())
chipo.head()

Chipo:
    order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Step 4

In [120]:
print("First 10 chipo entries:\n" , chipo.head(10))

First 10 chipo entries:
    order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

Step 5

In [121]:
number_of_observations = chipo.shape[0]
print("Number of observations in Chipo: " , number_of_observations)

Number of observations in Chipo:  4622

Step 6

In [122]:
number_of_columns = chipo.shape[1]
print("Number of columns in Chipo: " , number_of_columns)

Number of columns in Chipo:  5

Step 7

In [123]:
column_names = chipo.columns.values
print("All the column names: \n" , column_names)

All the column names:
 ['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

Step 8

In [124]:
print("Dataset indexing type:", chipo.index)
# starts from 0 and ends at 4622 with a increment of 1

Dataset indexing type: RangeIndex(start=0, stop=4622, step=1)

Step 9

In [125]:
items_ordered_count = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item_name = items_ordered_count.idxmax()
print("Most ordered item name:", most_ordered_item_name)

Most ordered item name: Chicken Bowl

Step 10

In [126]:
most_ordered_item_count = items_ordered_count.max()
print("Most ordered item count: " , most_ordered_item_count)

Most ordered item count:  761

Step 11

In [127]:
import math
def split_string(string):
    delimiters = ["[", "]"]

    for delimiter in delimiters:
        string = ",".join(string.split(delimiter))
    return string


def convert_to_list(s):
    if isinstance(s, str):
        # Remove brackets and split the string by comma
        string = split_string(s)
        # print(string)
        content = string.split(",")
        res_list = []
        for val in content:
            if val == '' or val == ' ':
                continue
            res_list.append(val.strip())

        # print(res_list)
        return res_list
    return []



# chipo_temp = chipo.head(10)
chipo['choice_description'] = chipo['choice_description'].apply(convert_to_list)

In [128]:
from collections import defaultdict

choice_description_dict = defaultdict(int)
for index, row in chipo.iterrows():
    item_list = row['choice_description']
    # print(item_list)
    for item in item_list:
        choice_description_dict[item] += row['quantity']

# choice_description_dict
most_ordered_item_from_choice_description = max(choice_description_dict, key=choice_description_dict.get)
print("Most ordered item from choice description column: " , most_ordered_item_from_choice_description)
# choice_description_dict

Most ordered item from choice description column:  Rice

Step 12

In [129]:
print("Total items that were ordered: " , choice_description_dict[most_ordered_item_from_choice_description])

Total items that were ordered:  2497

Step 13

In [130]:
print("Item price type: " , chipo['item_price'].dtype)

Item price type:  object

In [131]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                 []        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                 []        2.39
4  [Tomatillo-Red Chili Salsa (Hot), Black Beans,...       16.98

In [132]:
print("Item price type: " , chipo['item_price'].dtype)

Item price type:  float64

Step 14

In [134]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
overall_revenue = chipo['revenue'].sum()
print("Revenue for the period in the dataset: " , overall_revenue, "$")

Revenue for the period in the dataset:  39237.02 $

Step 15

In [135]:
# Assumption:We are considering order_id for counting of an order, if the order_id is same then it is 1 order only
total_number_of_orders = chipo['order_id'].nunique()
print("Total number of orders: " , total_number_of_orders)

Total number of orders:  1834

Step 16

In [137]:
average_revenue_amount_per_order = overall_revenue / total_number_of_orders
print("Average revenue amount per order: " , average_revenue_amount_per_order, "$")

Average revenue amount per order:  21.39423118865867 $

Step 17

In [138]:
different_items_sold = chipo['item_name'].nunique()
print("Total number of different items sold: " , different_items_sold)

Total number of different items sold:  50