##Question 3

Step 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
series_1 = pd.Series(np.random.randint(1, 5, size=100))
series_2 = pd.Series(np.random.randint(1, 3, size=100))
series_3 = pd.Series(np.random.randint(10000, 30001, size=100))

print("Series 1: \n" , series_1)
print("Series 2: \n" , series_2)
print("Series 3: \n" , series_3)

Series 1:
 0     4
1     3
2     3
3     2
4     3
     ..
95    2
96    3
97    3
98    3
99    1
Length: 100, dtype: int64
Series 2:
 0     2
1     2
2     1
3     2
4     2
     ..
95    1
96    2
97    1
98    2
99    2
Length: 100, dtype: int64
Series 3:
 0     18589
1     10167
2     10414
3     25928
4     14552
      ...
95    13936
96    18983
97    28013
98    20548
99    24990
Length: 100, dtype: int64

Step 3

In [4]:
df = pd.concat([series_1, series_2, series_3], axis=1)
print(df.head())

   0  1      2
0  4  2  18589
1  3  2  10167
2  3  1  10414
3  2  2  25928
4  3  2  14552

Step 4

In [5]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
print("After column name changed:\n" , df.head())

After column name changed:
    bedrs  bathrs  price_sqr_meter
0      4       2            18589
1      3       2            10167
2      3       1            10414
3      2       2            25928
4      3       2            14552

Step 5

In [6]:
bigcolumn = pd.concat([series_1, series_2, series_3], axis=0)
print("Bigcolumn dataframe:\n" , bigcolumn)

Bigcolumn dataframe:
 0         4
1         3
2         3
3         2
4         3
      ...
95    13936
96    18983
97    28013
98    20548
99    24990
Length: 300, dtype: int64

Step 6

In [8]:
print("Bigcolumn index: ")
print(bigcolumn.index)

# Yes the index is only going to 99, which is due to the fact that when we concatenated the 3 series, the original index from each series were retained

Bigcolumn index:
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

Step 7

In [9]:
bigcolumn = bigcolumn.reset_index(drop=True)
print("After index reset:\n" , bigcolumn)

After index reset:
 0          4
1          3
2          3
3          2
4          3
       ...
295    13936
296    18983
297    28013
298    20548
299    24990
Length: 300, dtype: int64